.list {
  background: #c6c9cd;
  width: 32%;
  margin: 1px;
  display: inline-flex;
  flex-direction: row;
  height: 100%;
}
.column{
  /*width: 32%;*/
  display: flex;
  flex-direction: column;
}
.cards {
  /*min-height: 50%;*/
  /*display: ;*/
  /*padding: 60%;*/
}

.title_row{
  width: 100%;
  /*height: 100px;*/
  display: inline-flex;
  flex-direction: row;
}

.list__title {
  float: top;
}

.list__newcard {
    color: #fafafa;
  width: 50px;
  height: 50px;
  margin: 5px 5px;
}

.list__newcard .mat-button-wrapper {
  display: flex;
  justify-content: center;
  vertical-align: center;

}



.okCancelButtons {
  padding: 5px 5px 5px 0;
  margin: 5px 5px 5px 0;
}

mat-card {
  background: #ffe905;
  margin: 10px;
  padding: 5px;
  box-shadow: black;
  color: gray;
  width: 80%;
}

em {
  float: right;
  color: darkred;
  padding-left: 5px;
}

input {
  width: 90%;
  padding: 5px;
  border: 2px solid grey;
  outline: 0;
  background: #fff;
  box-shadow: none;
}
