<div class="list" (dragover)="allowDrop($event)" (drop)="drop($event)">
  <div class="column">
  <div class="title_row">
    <p class="list__title"><strong>{{list.name}}</strong></p>
    <a href="#" class="list__newcard" (click)="toggleDisplayAddCard();">
      <mat-icon>add</mat-icon>
    </a>
  </div>
  <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm.value)" autocomplete="off" *ngIf="displayAddCard">
    <mat-card>
      <div>
        <label for="description">Description: </label>
        <em *ngIf="taskForm.controls.description?.invalid && taskForm.controls.description?.touched">Required</em>

        <input required (ngModel)="description" name="description" id="description" type="text" autofocus
               placeholder="Task description..."/>
      </div>

      <div>

        <label for="priority">Priority: </label>
        <em *ngIf="taskForm.controls.priority?.invalid && taskForm.controls.priority?.touched">Only numbers from 1 to 5
          are allowed</em>
        <input type="number" min="0" max="5" required (ngModel)="priority" name="priority" id="priority"
               placeholder="Task priority...">

      </div>
      <span class="okCancelButtons">
        <button type="submit" [disabled]="taskForm.invalid">Save</button>
        <button type="button" (click)="toggleDisplayAddCard();">Cancel</button>
      </span>
    </mat-card>
  </form>


  <div class="cards">
    <app-task *ngFor="let cardId of list.cards" [card]="taskKeeper.getCard(cardId.id)"></app-task>
  </div>
  </div>
  <!--<input #addCardInput type="text" (keyup.enter)="onEnter(addCardInput.value); addCardInput.value=''; displayAddCard=false;" *ngIf="displayAddCard" autofocus>-->


</div>
