<mat-card class="card" id="{{task.id}}">
  <mat-card-title>Task</mat-card-title>
  <mat-card-content>{{task?.description}}</mat-card-content>
  <mat-card-content>{{task?.priority}}</mat-card-content>
</mat-card>
