<mat-card class="card pointable" draggable="true" (dragstart)="dragStart($event)" id="{{card.id}}">
  <div (click)="toggleContent()">
    <mat-card-content *ngIf="!visible">{{card.description}}</mat-card-content>
    <div *ngIf="visible">
      <div>
      <b><label>Description: </label></b>
      <mat-card-content>{{card.description}}</mat-card-content>
    </div>
      <div>
        <b><label>Priority: </label></b>
        <mat-card-content>{{card.priority}}</mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
